process.$createGenomeIndex.container = 'flemoine/star'
process.$getFile.container = 'flemoine/sratoolkit'
process.$align.container = 'flemoine/star'
process.$index.container = 'flemoine/samtools'
process$countReads.container = 'flemoine/subread'
process.$diffExpression.container = 'flemoine/r-rnaseq'
docker.enabled = true
