dag {
    enabled = true
    file = 'dag.dot'
}

report {
       enabled = true
       file = 'report.html'
}

trace {
        enabled = true
        file = 'trace.txt'
}

singularity {
            enabled = true
            autoMounts = true
            runOptions = '--home $HOME:/home/$USER'
}

executor {
    name = 'slurm'
    queueSize = 2000
    queue = 'common'
    clusterOptions = "--qos=fast"
    errorStrategy='retry'
    maxErrors=200
    maxRetries=200
}

process{
        executor='slurm'

	withName: 'getChromosomes' {
		executor='local'
	}
        withName: 'createGenomeIndex'{
                container='docker://flemoine/star'
		memory='30 GB'
		cpus=12
	}
        withName: 'getFile'{
                container='docker://flemoine/sratoolkit'
		executor='local'
        }
        withName: 'prepareDexseqAnnotations'{
                container='docker://flemoine/r-rnaseq'
        }
	withName: 'align' {
                container='docker://flemoine/star'
		memory='32G'
		cpus=12
	}
        withName: 'indexBam' {
                container='docker://flemoine/samtools'
        }
        withName: 'countReads' {
                container='docker://flemoine/r-rnaseq'
        }
        withName: 'analyzeSplicing' {
                container='docker://flemoine/r-rnaseq'
        }
}
