process.$createGenomeIndex.container = 'flemoine/star'
process.$getFile.container = 'flemoine/sratoolkit'
process.$prepareDexseqAnnotations.container = 'flemoine/r-rnaseq'
process.$align.container = 'flemoine/star'
process.$indexBam.container = 'flemoine/samtools'
process.$countReads.container = 'flemoine/r-rnaseq'
process.$analyzeSplicing.container = 'flemoine/r-rnaseq'
docker.enabled = true
