/*process.$getChromosomes.container = 'ubuntu'*/
process.$createGenomeIndex.container = 'flemoine/star'
process.$getFastq.container = 'flemoine/sratoolkit'
/*process.$prepareAnnotations.container = 'ubuntu'*/
process.$prepareDexseqAnnotations.container = 'flemoine/r'
process.$align.container = 'flemoine/star'
process.$index.container = 'flemoine/samtools'
process.$countReads.container = 'flemoine/r'
/*process.$mapCounts.container = 'ubuntu'*/
process.$analyzeSplicing.container = 'flemoine/r'

docker.enabled = true
